.parallax-section {
  position: relative;
  height: 100vh;
  background-image: url('../assets/img43.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  overflow: hidden;
}

.overlay-images {
  position: absolute;
  top: 0; /* Ensure this is above the parallax content */
  left: 0;
  width: 100%;
  display: flex;
  z-index: 3; /* Bring the images above other content */
}

.image-left {
  /*position: relative;
  margin-top: -150px; /* Adjust to overlap into the next div *
  margin-left: 50px; /* Adjust for horizontal alignment *
  z-index: 4;
  
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: -96px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 120px;
    --padding-left: 0px;
    --padding-right: 144px;*/

}

.image-left img {
  width: 300px;
  display: flex;
    --background-transition: 0.3s;
  margin-top: -98px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 120px;
  padding-left: 0px;
  padding-right: 144px;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-left img:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.6);
}

.parallax-content {
  position: relative;
  z-index: 2; /* Keep it below the overlay image */
  text-align: center;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: left;
  margin-right: 64%;
  margin-bottom: 50px;
  flex-wrap: wrap;
  font-style: italic;
}

.parallax-content h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.parallax-content p {
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;
  font-style: normal;
  font-weight: 500;
}

.parallax-content button {
  padding: 15px 25px;
  color: white;
  background-color: transparent;
  border: 0.5px solid #fff;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 15px;
}

.shop-now:hover {
  background-color: #444;
  color: #fff;
}
